


body {
    clear: both; 
   
    font-family: "roboto"; 
    
}

header {
    color: blue; 

}


h1 {
    clear: both;  
    font-family: "lato"; 
    font-weight: 800;    
   
   }
   



h1.coding-header {
    font-family: 'Dela Gothic One', cursive;
    color: green; 
    

}

#codingHeader {


}



.parentContainer {
display: flex; 
background-color: lightblue; 
padding: 15px; 



}


.flexChild-1 {
    background-color: white; 
    padding: 10px; 
    margin: 10px; 
    height: 200px; 

}

.flexChild-2 {
    background-color: green; 
    padding: 10px; 
    margin: 10px; 
    height: 400px; 

}


.flexChild-3 {
    background-color: darkblue; 
    padding: 10px; 
    margin: 10px; 
    height: 300px; 

}

